.page-SystemRoDetails{
    text-align: left;
    .page-conent{
        padding: 0px 24px 24px 24px;
    }
    .page-assets-tabs{
        border: 1px solid #e8e8e8;
        margin-top: 24px;
        .page-assets-tabitem{
            padding: 0 14px;
        }
    }
}
